<mddoc>
	<docpage target="README.md">

		<autoloader type="psr4" root="src" namespace="Corpus\Loggers"/>

		<section title="(PSR-3) Loggers and Logging Utilities">
			<badge-poser type="version"/>
			<badge-poser type="license"/>
			<badge-github-action name="CorpusPHP/Loggers" workflow-file="ci.yml"/>
			<text>Utilities for and Loggers for [PSR-3: Logger Interface](https://www.php-fig.org/psr/psr-3/).</text>

			<section title="Requirements">
				<composer-requires/>
			</section>
			<section title="Installing">
				<composer-install/>
			</section>

			<section title="Example">
				<text>This example demonstrates how the loggers may be chained together to create complex interactions</text>
				<source name="example/nested.php" lang="php" />
				<exec cmd="php example/nested.php" format="code-block"/>
			</section>

			<section title="Documentation">
				<recursive-directory name="src" />
			</section>
		</section>
	</docpage>
</mddoc>
